<div class="col-md-6 mx-auto mt-5">
  <div class="card bg-light mb-3">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <fieldset>
          <h2 class="text-center">
            <strong>Ingreso</strong>
          </h2>
          <div class="form-group">
            <label for="email" class="form-label mt-4">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                   placeholder="Ingrese su email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="password" class="form-label mt-4">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña"
                   formControlName="password">
          </div>
          <br>
          <div class="form-group text-center">
            <button type="submit" class="col-md-4 col-md-offset-4 btn btn-primary">
              Ingresar
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
