<h1>Usuarios</h1>

<div class="row">
  <button type="button" class="btn btn-sm btn-primary col-md-4 offset-md-4">
    Crear usuario
  </button>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Documento</th>
      <th scope="col">Perfil</th>
      <th scope="col">Edad</th>
      <th scope="col">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor=" let user of users">
      <th scope="row">{{ user.name }}</th>
      <td>{{ user.document }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.age }}</td>
      <td class="btn-group d-none d-sm-block" role="group">
        <button type="button" class="btn btn-outline-info m1" (click)="editUser(user)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
