<h1>Editar Usuario</h1>
{{value | json}}
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="form-group col-md-8 offset-md-2">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" id="name" class="form-control" placeholder="Nombre" formControlName="name">
  </div>
  <div class="form-group col-md-8 offset-md-2">
    <label for="document" class="form-label">Documento</label>
    <input type="Number" id="document" class="form-control" placeholder="Documento" formControlName="document">
  </div>
  <div class="form-group col-md-8 offset-md-2">
    <label for="email" class="form-label">Email</label>
    <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email">
  </div>
  <div class="form-group col-md-8 offset-md-2">
    <label for="age" class="form-label">Edad</label>
    <input type="number" id="age" class="form-control" placeholder="Edad" formControlName="age">
  </div>
  <br>
  <div class="form-group col-md-8 offset-md-2">
    <button class="btn btn-primary form-control" type="submit">Editar</button>
  </div>
</form>
