<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <i class="fas fa-book"></i>&nbsp;Repositorios
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-logged" aria-controls="navbar-logged" aria-expanded="false"
            aria-label="Toggle navigation" *ngIf="isLogged">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbar-logged" *ngIf="isLogged">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users']">Usuarios
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Repositorios
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Historial Repos
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto text-rigth">
        <li class="nav-item">
          <a class="nav-link nombre-usuario">
            Bienvenido <strong>{{ user.email }}</strong>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()">
            <i class="fas fa-sign-out-alt"></i>&nbsp;Salida
          </a>
        </li>
      </ul>
    </div>


    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-login" aria-controls="navbar-login" aria-expanded="false"
            aria-label="Toggle navigation" *ngIf="!isLogged">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar-login" *ngIf="!isLogged">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">
            <i class="fas fa-sign-in-alt"></i>&nbsp;Ingreso
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
