<div id="page-wrapper">

  <!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h2>The future has landed</h2>
        <p>And there are no hoverboards or flying cars.<br/>
          Just apps. Lots of mother flipping apps.</p>
      </header>
      <span class="image"><img src="assets/images/pic01.jpg" alt=""/></span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
  </section>

  <!-- One -->
  <section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="assets/images/pic02.jpg" alt=""/></span>
    <span class="image fit main"><img src="assets/images/pic02.jpg" alt=""/></span>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-4 col-12-medium">
            <header>
              <h2>Odio faucibus ipsum integer consequat</h2>
              <p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
            </header>
          </div>
          <div class="col-4 col-12-medium">
            <p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
              Blandit orci porttitor semper. Arcu phasellus tortor enim mi
              nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
              augue varius tempus lobortis porttitor accumsan consequat
              adipiscing lorem dolor.</p>
          </div>
          <div class="col-4 col-12-medium">
            <p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
              adipiscing adipiscing metus massa. Blandit orci porttitor semper.
              Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
              mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
              ipsum dolor nullam.</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
  </section>

  <!-- Two -->
  <section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="assets/images/pic03.jpg" alt=""/></span>
    <div class="content">
      <header>
        <h2>Interdum amet non magna accumsan</h2>
        <p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
      </header>
      <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
        mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing
        lorem.</p>
      <ul class="actions">
        <li><a href="#" class="button">Learn More</a></li>
      </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
  </section>

  <!-- Three -->
  <section id="three" class="spotlight style3 left">
    <span class="image fit main bottom"><img src="assets/images/pic04.jpg" alt=""/></span>
    <div class="content">
      <header>
        <h2>Interdum felis blandit praesent sed augue</h2>
        <p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
      </header>
      <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
        mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing
        lorem.</p>
      <ul class="actions">
        <li><a href="#" class="button">Learn More</a></li>
      </ul>
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
  </section>

  <!-- Four -->
  <section id="four" class="wrapper style1 special fade-up">
    <div class="container">
      <header class="major">
        <h2>Accumsan sed tempus adipiscing blandit</h2>
        <p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
      </header>
      <div class="box alt">
        <div class="row gtr-uniform">
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-chart-area"></span>
            <h3>Ipsum sed commodo</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-comment"></span>
            <h3>Eleifend lorem ornare</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-flask"></span>
            <h3>Cubilia cep lobortis</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-paper-plane"></span>
            <h3>Non semper interdum</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-file"></span>
            <h3>Odio laoreet accumsan</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon solid alt major fa-lock"></span>
            <h3>Massa arcu accumsan</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
        </div>
      </div>
      <footer class="major">
        <ul class="actions special">
          <li><a href="#" class="button">Magna sed feugiat</a></li>
        </ul>
      </footer>
    </div>
  </section>

  <!-- TODO: MANDAR A UN COMPONENTE INDIVIDUAL EN SHARED -->
  <!--  &lt;!&ndash; Footer &ndash;&gt;-->
  <!--    <footer id="footer">-->
  <!--      <ul class="icons">-->
  <!--        <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>-->
  <!--        <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>-->
  <!--        <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>-->
  <!--        <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>-->
  <!--        <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>-->
  <!--        <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>-->
  <!--      </ul>-->
  <!--      <ul class="copyright">-->
  <!--        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
  <!--      </ul>-->
  <!--    </footer>-->

</div>
